@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-bg-canvas: #F8F9FA;
    --color-text-primary: #121417;
    --color-card-bg: #FFFFFF;
    --color-border-subtle: #E5E7EB;

    --color-brand-primary: #0066CC;
    --color-brand-secondary: #4A5568;

    --color-status-critical: #DC2626;
    --color-status-warning: #D97706;
    --color-status-healthy: #16A34A;
    --color-status-info: #2563EB;
}

body {
    font-family: "Barlow Condensed";
    background-color: var(--color-bg-canvas);
    color: var(--color-text-primary);
    transition: background-color 300ms, color 300ms;
}
